.flex {
    display: flex;
    flex-basis: 0;
    column-gap: 1rem;
    justify-content:space-between;
}

footer .flex {
    justify-content: stretch;
    column-gap: 0;
}

.flexLeft {
    display: flex;
    padding-left: 1rem;
    align-self: flex-start;
}

.flexCenter {
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.flexCenter p {
    display: block;
}

.centerTitle {
    display: flex;
    align-self: center;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.headerData .centerTitle p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    display: flex;
    font-size: 3vw;
    justify-content: center;
    bottom: 50%;
}

.flexColumn {
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    padding: 1rem;
    margin: 0;
    width: 100%;
}

ul .flex {
    align-items: baseline;
    flex: 1;
}

.row {
    display: flex;
    align-items: baseline;
    column-gap: 1rem;
}

.twoColumns {
    display: flex;
    justify-content: flex-start;
}