.gallery {
    width: 100%;
}

.galleryBlock img {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.galleryBlock p {
    font-style: italic;
}

.galleryBlock {
    width: 100%;
    padding: 0;
    margin: 0;
}