{% extends "base.html.twig" %}

{% block body %}
    <h1>JSON routes</h1>
    {% for i in range(0, json_routes|length-2, 1) %}
        <li><a href="{{ json_routes[i] }}">{{ json_routes[i+1] }}</a></li>
    {% endfor %}
{% endblock %}